/* This applies to all elements (bad practice) */
* {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

/* This css centers at the middle of the screen */
#container{
	height: 25px;
	width: 25px;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

	border: 3px double;
	
	border-color: rgb(255, 255, 255);
	border-radius: 100%;

}

.small {
	font-size: 25px;
}